
/* HEADING FONT */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sixtyfour+Convergence&display=swap');

/* BODY FONT */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sixtyfour+Convergence&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --clr-light: #fdffc4;
    --clr-dark: #00332a;
    --clr-primary: #dbffa2;
    --clr-secondary: #c3fcf2;
    --clr-accent: #ff7750;
    --clr-white: #fdfbfb;

    --forgound: var(--clr-dark);
    --background: var(--clr-light);

    --ff-title: "IBM Plex Mono", monospace;
    --ff-body: "Space Mono", monospace;

    --fs-xl: clamp(3rem, 6vw + 1rem, 6rem);
    --fs-lg: clamp(2rem, 4vw + 1rem, 4rem);
    --fs-rg: clamp(.5rem, 2vw + 1rem, 1.5rem );
}

/* DARK MODE STYLES */
.dark-mode {
    --clr-light: #fdffc4;
    --clr-dark: #00332a;
    --clr-primary: #202302;
    --clr-secondary: #00100d;
    --clr-accent: #ff7750;

    --forgound: var(--clr-light);
    --background: var(--clr-dark);
}

* {
    box-sizing: border-box;
}


body {
    background-color: var(--background);
    color: var(--forgound);
    font-family: var(--ff-body);

    margin: 0;
    padding: 0;
}

.main-header {
    background-color: var(--clr-white);
    display: flex;
    flex-direction: column;
}

.heading-tag {
    font-family: var(--ff-title);
    font-size: var(--fs-xl);
    text-align: center;
     color: var(--clr-accent);
}

.heading-tag-2 {
    font-family: var(--ff-title);
    color: var(--clr-accent);
    font-size: var(--fs-lg);
    text-align: center;
}

.grid-wrapper {
    display: grid;
    min-height: 100vh;
}

@media (min-width: 700px) {
    .grid-wrapper {
        grid-template-columns: auto auto;
    } 

    .main-header {
         min-height: calc(100vh - 80px);
    }
}

/* LOGO */
.logo-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    background: var(--clr-accent);
    padding: 2rem;
}

.primary-logo {
    display: block;
    max-width: 8rem;
     box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
    border-radius: 50%;
}

/* NAVIGATION */
.primary-navigation ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}

.primary-navigation ul li {
    margin: .25rem;
}

.primary-navigation ul li a {
    text-decoration: none;
    font-weight: 600;
}

.nav-link:hover {
    background-color: aqua;
}

.nav-link[aria-current='page'] {
    color: red;
}

/* MAIN CONTENT */
.main-content {
    margin-inline: clamp(1rem, 3vw + 1rem, 3rem );
    font-size: var(--fs-rg);
}

.main-content p {
    max-width: 65ch;
    margin-inline: auto;
}

.main-footer {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 5rem;
    align-self: flex-end;
    grid-column-start: 1;
    grid-column-end: -1;
    background-color: var(--clr-dark);
    color: var(--clr-white);
}

.main-footer a {
    color: var(--clr-white);
    text-decoration: none;
    font-weight: 600;
}